mavenCentralUsername=YOUR_CENTRAL_USERNAME
mavenCentralPassword=YOUR_CENTRAL_TOKEN
signing.keyId=YOUR_GPG_KEY_ID
signing.password=YOUR_GPG_PASSPHRASE
signing.secretKeyRingFile=/home/YOU/.gnupg/secring.gpg
